<footer class="page-footer font-small blue pt-4 mt-5">
    <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
            <h5>spitiXorismesiti</h5>
            <p>Επικοινωνία: info@spitixorismesiti.com</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-lg-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Nav</h5>
            <ul class="list-unstyled d-inline-flex d-lg-block">
                <li class="m-1">
                    <a href="/">Αρχική</a>
                </li>
                <li class="m-1">
                    <a href="#!">Αγορά</a>
                </li>
                <li class="m-1">
                    <a href="#!">Ενοικίαση</a>
                </li>
                <li class="m-1">
                    <a href="#!">Ποιοι είμαστε</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 mb-md-0 mb-3">
            <h5 class="text-uppercase">Links</h5>
            <ul class="list-unstyled d-inline-flex d-lg-block">
                <li class="m-1">
                    <a href="#!">FAQ</a>
                </li>
                <li class="m-1">
                    <a href="#!">Link 2</a>
                </li>
                <li class="m-1">
                    <a href="#!">Όροι χρήσης</a>
                </li>
                <li class="m-1">
                    <a href="#!">Χρήσιμα έγγραφα</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Spitixorismesiti</div>
</footer>