<form id="form" action="/post/discription?id=<%-ad._id%>" method="POST">
    <div class="form-group">
        <h4>Περιγραφή</h4>
        <textarea class="form-control" id="dis" name="dis" rows="8" maxlength="2500"><%=ad.discription%></textarea>
    </div>
    <hr class="border-success">
    <button name="btn" type="submit" value="pics" class="btn btn-primary btn-block mb-5">Επόμενο</button>
</form>
