<pre class="mt-5"></pre>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-md-3 border-right border-success">
            <ul class="list-unstyled float-right">
                <li>
                    <!--<img src="/public/img/SXM.png" height="150px">-->
                    <h3 class="text-info">mySpiti</h3>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">Οι αναζητήσεις μου</a>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">Οι αγγελίες μου</a>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">Αγαπημένες αγγελίες</a>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">Σημειώσεις</a>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">Κρυμμένες αγγελίες</a>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">To προφίλ μου</a>
                </li>
                <li class="mt-2 mb-2">
                    <a class="text-white" href="#">Email alerts</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-7">
            <br>
        </div>
        <div class="col-12 col-md-2 bg-dark">
            <br>
        </div>
    </div>
</div>